/* Fonte Patua One - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* cores padrão */
:root{
    --ucl1: #933A31;
    --ucl2: #2E120F;
}

.title1 h1 {
    font-family: 'Patua One', cursive;
    color: #2E261C;
    font-size: 4rem;
}

.logo_nav{
    z-index: 2;
    pointer-events:none;
}

.logo_nav img{
    width: 90px;
    margin: 10px 50px;
    filter: drop-shadow(1px 5px 2px rgba(0, 0, 0, 0.164))
}

/* padding padrão */
.uai_stand{
    padding: 25px 50px;
    text-align: justify;
}

.uai_page{
    width: 100%;
}

.uai_banner1{
    background-color: gray;
    padding: 80px 50px;
    background-image: url(../images/pexels-nerfee-mirandilla-3186654-1024x780.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20rem;
    filter: grayscale(20%);
}

.uai_nav_cardardapio{
    background-color: rgb(204, 204, 204);
    padding: 10px;
    z-index: 1; /* coloca atras do logo */
}

.card{
    margin: 4px 4px;
    border-radius: 10px;
}

/* itens no cartão - Edite um, edite todos :D */
.nome_food{ 
    font-family: 'Patua One', cursive;
    color:var(--ucl2);
    text-align: left;
}

.preco_food{
    color: rgb(255, 153, 0);
}

.descri_food{
    text-align: left;
}

.uai_nav_cardardapio{
    background-color: #FFF;
}

/* menu seleção de categorias cardápio */
.uai_cardapio .nav-link{
    color: #2E261C;
    font-size:.9rem;
}

.uai_cardapio .nav-link:hover{
    color: #935b31;
    transition: 0.2s;
}

.uai_cardapio .nav-pills .nav-link.active{
    background-color: #FFF;
    color: var(--ucl1);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    transition: 0.5s;
}

.uai_sobre{
    background-color:#fff7e9;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1.title1{
    font-family: 'Patua One', cursive;
    color: #2E261C;
    font-size: 3em;
    padding-bottom: 40px;
}

.texto_restaurante{
    text-align: justify;
    padding-right: 30px;
}

.img_uai{
    background-image: url(../images/pexels-tembela-bohle-1089930-683x1024.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20rem;
}

.img_pag{
    width: 50px;
}

.uai_footer{
    background-color: rgb(48, 24, 7);
    padding:50px;
    color:white;
    font-weight: bold;
}

/* Responsivos */
@media only screen and (max-width: 780px) {
    .logo_nav{
        z-index: 1;
    }
    .logo_nav img{
        width: 60px;
    }
    
    .uai_nav_cardardapio{
        z-index: 2;
    }

    .title1 h1 {
        font-family: 'Patua One', cursive;
        color: #2E261C;
        font-size: 3rem;
        text-align: center;
    }

    .texto_restaurante{
        padding-right: inherit;
        margin-bottom: 30px;
    }
}