/* Fonte Patua One - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* cores padrão */
:root{
    --ucl1: #933A31;
    --ucl2: #2E120F;
}

.title1 h1 {
    font-family: 'Patua One', cursive;
    color: #2E261C;
    font-size: 4rem;
}

.logo_nav{
    z-index: 2;
    pointer-events:none;
}

.logo_nav img{
    width: 90px;
    margin: 10px 50px;
}

/* padding padrão */
.uai_stand{
    padding: 25px 50px;
    text-align: justify;
}

.uai_page{
    width: 100%;
}

.uai_banner1{
    background-color: gray;
    padding: 80px 50px;
}

.uai_nav_cardardapio{
    background-color: white;
    padding: 10px;
    z-index: 1; /* coloca atras do logo */
}

.card{
    margin: 4px 4px;
    border-radius: 10px;
}

/* itens no cartão - Edite um, edite todos :D */
.nome_food{ 
    font-family: 'Patua One', cursive;
    color:var(--ucl2);
}

.preco_food{
    color: rgb(255, 153, 0);
}

.texto_restaurante, .descri_food{
    text-align: justify;
}

/* menu seleção de categorias cardápio */
.uai_cardapio .nav-link{
    color: #2E261C;
    font-size:.9rem;
}

.uai_cardapio .nav-link:hover{
    color: #935b31;
    transition: 0.2s;
}

.uai_cardapio .nav-pills .nav-link.active{
    background-color: #FFF;
    color: var(--ucl1);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    transition: 0.5s;
}

/* Responsivos */
@media only screen and (max-width: 780px) {
    .logo_nav{
        z-index: 1;
    }
    .logo_nav img{
        width: 50px;
    }
    
    .uai_nav_cardardapio{
        z-index: 2;
    }

    .title1 h1 {
        font-family: 'Patua One', cursive;
        color: #2E261C;
        font-size: 3rem;
        text-align: center;
    }
} 

/*
.uai_cardapio{

}

.uai_sobre{

}

.uai_footer{

}
*/